.properties {

	padding-top: 80px;
	padding-left: 205px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.error {
	font-size: 50px;
	color: red;
	align-content: center;
}

.sidebar {
	display: flex;
	flex-direction: column;
margin-top: 97px;
		margin-left: 0;
		padding: 0px 10px 0px 10px;
		width: 200px;
		/* background-color: rgba(255, 255, 255); */
		position: fixed;
		height: 100%;
		overflow: auto;
	}

.search-button {
		width: 50%;
		
	}
